
/*cuerpo de la bandera*/
.flag{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}
/*azul centrado a la derecha*/
.blue-center-right{
    width: 50%;
    height: 60%;
    padding-inline-start: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    background: #003087;

}
/*azul centrado a la izquierda*/
.blue-center-left{
    width: 35%;
    height: 60%;
    padding-inline-end: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #003087;
}
/*blanco arriba izquierda*/
.white-top-left{
    width: 85%;
    height:42%;
    display: flex;
    padding: 0 0 10px 0;
    align-items: flex-start;
    background: white;
}
/*blanco izquierda abajo*/
.white-left-down{
    width: 85%;
    height:42%;
    padding:10px 0 0 0;
    display: flex;
    align-items: flex-end;
    background: white;
}
/*blanco arriba a la derecha*/
.white-top-right{
    width: 99%;
    height:42%;
    padding: 0 0 10px 0;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    background: white;
}
/*blanco abajo a la derecha*/
.white-down-right  {
    width: 99%;
    height:42%;
    padding: 10px 0 0 0;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background: white;
}
/*cuadros rojos de la izquierda(arriba,abajo)*/
.red-left{
    width: 96%;
    height: 90%;
    margin-right: 35px;
    background: #C8102E;
}

/*cuadros del lado derecho*/
.red-right{
    width: 100%;
    height:90%;
    margin-left: 35px;
    margin-right: 3px;
    background: #C8102E;
}

/*uso de flex para realizar una estructura mas amigable, haciendo uso de columnas a la hora de hacer el diseño*/