.flag{
    width: 100%;
    height: 500px;
    display: flex;
}
/*azul centrado a la izquierda*/
.blue-center-left{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#003087;
}

/*blanco arriba izquierda*/
.white-top-left{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    background: white;
}
/*blanco izquierda abajo*/
.white-left-down{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    background: white;
}
.red-left{
    width: 93%;
    height: 90%;
    background: #C8102E;
}
/*azul centrado a la derecha*/
.blue-center-right{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    background: #003087;

}
/*blanco arriba a la derecha*/
.white-top-right{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    background: white;
}
/*blanco abajo a la derecha*/
.white-down-right  {
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
}

/*cuadros del lado izquierdo*/

.red-right{
    width: 96%;
    height: 90%;
    background: #C8102E;
}