
/*cuerpo de la bandera*/
.flag{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}
/*azul centrado a la derecha*/
.blue-center-right{
    width: 40%;
    height:55%;
    padding-inline-start:10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    background: #003087;

}
/*azul centrado a la izquierda*/
.blue-center-left{
    width: 30%;
    height: 55%;
    padding-inline-end: 10px;
    display: flex;
    align-items:stretch;
    flex-direction: column;
    justify-content: space-between;
    background: #003087;
}
/*blanco arriba izquierda*/
.white-top-left{
    width: 85%;
    height:45%;
    display: flex;
    
    align-items: flex-start;
    background: white;
}
/*blanco izquierda abajo*/
.white-left-down{
    width: 85%;
    height:45%;
    
    display: flex;
    align-items: flex-end;
    background: white;
}
/*blanco arriba a la derecha*/
.white-top-right{
    width:100%;
    height:45%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    background: white;
}
/*blanco abajo a la derecha*/
.white-down-right  {
    width:100%;
    height:45%;
  
   
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
}
/*cuadros rojos de la izquierda(arriba,abajo)*/
.red-left{
    width: 85%;
    height: 90%;
    background: #C8102E;
}

/*cuadros del lado derecho*/
.red-right{
    width: 90%;
    height:90%;
    background: #C8102E;
}

/*uso de flex para realizar una estructura mas amigable, haciendo uso de columnas a la hora de hacer el diseño*/